*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --text-color: #000;
    --bg-color: #fff;
    --main-color: #0025f7;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    transition: all .50s ease;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.h-right{
    display: flex;
    align-items: center;
}
.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}
.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50 ease;
}
.h-right a:hover{
    color:var(--main-color);
    transform: translateY(-3px);
}