@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --blue: #2685F5;
    --color-dark: #333;
    --text-grey: #909090;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--blue);
    z-index: 100;
}
.sidebar-brand img{
    width: 280px;
    height: auto;
    padding: 1rem 0rem 1rem 2rem;
    margin-bottom: 2rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1rem; 
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #FFF;
    font-size: 1.1rem;
}
.sidebar-menu a.active{
    background: #FFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--blue);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.main-content{
    margin-left: 345px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}
header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.search-wrapper{
    border: 1px solid #CCC;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}
main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #F1F5F9;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card-single div:last-child span{
    font-size: 3rem;
    color: var(--blue);
}
.card-single div:first-child span{
    color: var(--text-grey);
}
.card-single:last-child{
    background: var(--blue);
}