/* Style.css */

/* Body styles */
/* Body styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun and playful font */
    background-color: #012b5e; /* Deep blue background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Heading styles */
h1 {
    text-align: center;
    font-size: 36px; /* Larger font size for emphasis */
    color: #009b6d; /* Vibrant pink text color */
    padding: 20px;
    border-radius: 20px; /* Rounded corners for a playful look */
    background-color: #fff; /* White background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Stronger box shadow for emphasis */
    transform: rotate(-5deg); /* Slightly rotate the heading for added whimsy */
}

/* Hover effect for the heading */
h1:hover {
    color: #650fa8; /* Lighter pink color on hover */
    transform: rotate(5deg); /* Slightly rotate the heading in the opposite direction on hover */
}
