* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.logo {
  width: 50px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
	position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 450px;
    background: #ffffff;
    padding: 30px 60px 30px;
    text-align: center;
	box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.391);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #005cce;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #005cce;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #005cce;
}

.btn-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}


.input-group {
    height: 230px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.input-field label {
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
}

.input-field input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
}

.input-field label {
    color: #333;
}

.form-box p {
    font-size: 14px;
}

.form-box p a {
    text-decoration: none;
    color: #005cce;
}

.btn-field button {
    flex-basis: calc(50% - 5px); 
    background: #007c6b; 
    color: #fff; 
    height: 40px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 20px; 
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-right: 5px; 
}

.btn-field button:last-child {
    margin-right: 0; 
}

button[type="submit"]:hover,
.btn-field button:hover {
    background-color: #024234;
}



