* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.logo {
    width: 50px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://logincdn.msauth.net/shared/5/js/../images/2_bc3d32a696895f78c19d.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 450px;
    background: #ffffff;
    padding: 30px 60px 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.391);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #005cce;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #005cce;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-container {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: calc(100% - 20px);
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    margin-right: 10px;
}

form p {
    text-align: left;
    font-size: 13px;
    margin-bottom: 15px;
}

form p a {
    text-decoration: none;
    color: #005cce;
}

.btn-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.deletebtn-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.btn-field button,
.deletebtn-field button {
    flex-basis: calc(50% - 10px);
    background: #007c6b;
    color: #fff;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    transition: background 1s;
}

.btn-field button:hover,
.deletebtn-field button:hover {
    background-color: #024234;
}

#DiscardBtn {
    background-color: #005cce;
}

#Deletebtn {
    background-color: #a50000;
}
