body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2685F5;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
} 
.opp-details {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
} 
.opp-details h2 {
    color: #333;
    text-align: center;
} 
.details-container {
    margin-bottom: 20px;
} 
.detail {
    margin-bottom: 10px;
} 
.title {
    font-weight: bold;
} 
.buttons {
    text-align: center;
} 
.done-button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2685F5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Opportunity{
    background-color: #28a745 !important;
}
