body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2685F5;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
} 
.opp-details {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
} 
.opp-details h2 {
    color: #333;
    text-align: center;
} 
.details-container {
    margin-bottom: 20px;
} 
.detail {
    margin-bottom: 10px;
} 
.title {
    margin-top: 100px;
    font-weight: bold;
} 
.buttons {
    text-align: center;
} 
.done-button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2685F5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.view-volunteers-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2685F5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2685F5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-button{
    padding: 10px 50px;
    /* margin-right: 1px; */
    color: #2685F5;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align:left;
}
.Opportunity{
    background-color: #28a745 !important;
}
.search-wrapper{
    border: 1px solid #CCC;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.grid{
    margin-top: 25rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto;
}
.card{
    background: #fff;
    border-radius: 5px;
}
.card-header,
.card-body{
    padding: 1rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
}
.card-body button{
    background: #2685F5;
    border-radius: 8px;
    color: #fff;
    font-size: .8rem;
    padding: .4rem .8rem;
    border: .8px solid #2685F5;
    cursor: pointer;
}
table{
    border-collapse: collapse;
} 
.table-sortable th {
	cursor: pointer;
}
.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}
thead tr{
    border-top: 1px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
}
thead th{
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 1rem;
    color: #222;
    cursor: pointer;
}
td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}
.pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}
.pagination button {
    margin: 0 5px; 
}

@media only screen and (max-width: 1200px){
    .sidebar{
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li{
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a{
        padding-left: 0rem;
    }
    .sidebar .sidebar-brand img,
    .sidebar li a span:last-child{
        display: none;
    }
    .main-content{
        margin-left: 70px;
    }
    .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
    .sidebar:hover{
        width: 250px;
        z-index: 105;
    }
    .sidebar:hover .sidebar-brand,
    .sidebar:hover li{
        padding-left: 2rem;
        text-align: left;
    }
    .sidebar:hover li a{
        padding-left: 1rem;
    }
    .sidebar:hover .sidebar-brand img,
    .sidebar:hover li a span:last-child{
        display: inline;
    }
}

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid{
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid{
        grid-template-columns: 100%;
    }
    .main-content{
        width: 100%;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 560px){
    .cards{
        grid-template-columns: 100%;
    }
}

