<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="about_us_style.css">
</head>
<body>
  <header>
    <img src="images/logonowords.png" alt="">
    Welcome to HandInHand! Let's navigate you through the world of volunteering!
  </header>

  <section class="about">
    <div class="container">
      <h1>About Us</h1>
      <p>HandInHand is a website mainly centered around volunteering, it serves as an mean to organize opportunities someone volunteers in to make volunteering more fun and attractive to any newcomers who want to surf into the world of volunteering</p>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="feature-content">
        <div class="feature-card">
          <h3>What HandInHand has to offer:</h3>
          <p>1. HandInHand provides a sign up/log in page, where you can sign up as both a volunteer or an organization</p>
          <p>2. As a regular user, you can browse through multiple organizations and through posted opportunities</p>
          <p>3. As a volunteer, you can apply for opportunities.</p>
          <p>4. As a volunteer, you can ensure that you only communicate with legitimate organizations on the platform, minimizing the risk of scams, fraud, or unauthorized activities.</p>
          <p>5. As a volunteer, you can be waitlisted for a full volunteering opportunity you are interested in.</p>
          <p>6. As a volunteer, you can favorite an NGO so that you can easily access and support organizations that align with your interests.</p>
          <p>7. As a volunteer, you can set milestones and goals, allowing you to stay motivated and focused on making a meaningful impact.</p>
          <p>8. As a volunteer, you can receive recognition and badges for reaching certain milestones, fostering a sense of achievement and motivation in the community.</p>
          <p>9. As an organization, you can post new volunteering opportunities, specifying details such as location, time commitment, type of work, and number of needed volunteers.</p>  
          <p>10. As an organization, you have the option to delete posted opportunities.</p>   
          <p>11. As an organization, you have access to the volunteers contact information so you can contact them.</p> 
          <p>12. As an organization, you have the platform to support collaboration and partnerships with other organizations in the community.</p>  
          <p>13. As an organization, you can create and manage volunteer schedules and assignments for upcoming projects or events, including assigning tasks and roles to volunteers.</p>  
          <p>14. As an organization, you can host virtual volunteering opportunities and remote projects that allow volunteers to contribute from anywhere in the world.</p>  
        </div>
      </div>
    </div>
  </section>
  
  <section class="motive">
    <div class="container">
      <h5>
        Our main purpose for making this website is to help volunteers and organizations around the world communicate easily, moreover, it helps volunteers
        track their hours and the opportunities they are registered-in in a well organized and accessible website, also, the concept of volunteering means so much to us because
        it helps people in need and it generally makes the world a better place and this is 
        exactly what we strive for, so thank you so much for using our website and we hope to improve it more in the near future! 
      </h5>
    </div>
  </section>

</body>
</html>
