<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="shortcut icon" type="x-icon" href="https://i.imgur.com/MoSHBZX.png">
    <title>HandInHand-Feedback</title>
    <link rel="stylesheet" type="text/css" href="feedback.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body style="background-image: url('https://logincdn.msauth.net/shared/5/js/../images/2_bc3d32a696895f78c19d.svg');">
    <a href="/">
        <img src="https://i.imgur.com/MoSHBZX.png" class="logo" alt="HandinHand">
    </a>
    <div class="feedback-container">
        <h1>Give us your valuable feedback</h1>
        <p>Your feedback is very important to us</p>
        <form id="feedbackForm" action="/submitFeedback" method="POST">
            <div class="rating-box">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p class="question">Your feedback:</p>
            <textarea id="textarea" name="feedback" cols="20" rows="5"></textarea>
            <div class="info-field">
                <div class="name">
                    <label>
                        <input type="text" name="name" placeholder=" ">
                        <span>Name</span>
                    </label>
                </div>
                <div class="email">
                    <label>
                        <input type="email" name="email" placeholder=" ">
                        <span>Email Address (will not be published)</span>
                    </label>
                </div>
            </div>
            <div class="center">
                <button class="btn button" type="submit">Send</button>
            </div>
        </form>
    </div>

    <script>
        // select all elements with the "i" tag and store them in a NodeList called "stars"
        const stars = document.querySelectorAll(".stars i");
        
        // loop through the "stars" NodeList
        stars.forEach((star, index1) => {
            // add an event listener that runs a function when the "click" event is triggered
            star.addEventListener("click", () => {
                // loop through the "stars" NodeList again
                stars.forEach((star, index2) => {
                    // add the "active" class to the clicked star and any stars with a lower index
                    // and remove the "active" class from any stars with a higher index
                    index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
                });
            });
        });

        const feedbackForm = document.getElementById("feedbackForm");

        feedbackForm.addEventListener("submit", (event) => {
            const textareaValue = document.getElementById("textarea").value.trim();
            const nameValue = document.querySelector(".name input").value.trim();
            const emailValue = document.querySelector(".email input").value.trim();

            if (textareaValue === "") {
                event.preventDefault();
                displayErrorMessage("Please provide your feedback");
            } else if (nameValue === "") {
                event.preventDefault();
                displayErrorMessage("Please provide your name");
            } else if (emailValue === "") {
                event.preventDefault();
                displayErrorMessage("Please provide your email");
            }
        });

        function displayErrorMessage(message) {
            const errorMessage = document.createElement("p");
            errorMessage.classList.add("error-message");
            errorMessage.textContent = message;
            document.querySelector(".feedback-container").appendChild(errorMessage);
        }
    </script>
</body>

</html>
