<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <link rel = "shortcut icon" type = "x-icon" href="https://i.imgur.com/MoSHBZX.png">
    <Title>HandInHand</Title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <!---header design-->
    <header>
        <img src="img/logo2.png" class = "logo" alt="HandinHand">

        <ul class = "navbar">
            <li><a href = "#">Home</a></li>
            <li><a href = "#">About</a></li>
            <li><a href = "/Posts">Opportunities</a></li>
            <li><a href = "#">Profile</a></li>
        </ul>
        <div class = "h-right">
            <li><a href="/signup">Register</a>|<a href="/login">Login</a></li>
            <div class = "bx bx-menu" id = "menu-icon"></div>
        </div>   
    </header>
    <!---home section design-->
    <section class = "home">
        <div class = "home-text"> 
            <h1>Empower Change, <br> Volunteer Today!</h1>
            <p>Join a community of difference-makers dedicated to creating <br> a positive impact one volunteer at a time.</p>
            <a href = "#" class = "btn">Find Opportunities</a>
        </div>
    </section>
    <!---feature section design-->
    <section class = "features">
        <div class = "feature-content">
            <div class = "row">
                <div class = "row-img">
                    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRquiM_tO8DY6n_I83UWtL2cS5YCHp9xdnaegiwxgM9UVldnAbI1GHXtRVxPRaiKr9aLMs&usqp=CAU">
                </div>
                <h4>Animal Shelter</h4>
            </div>

            <div class = "row">
                <div class = "row-img">
                    <img src = "https://www.shutterstock.com/image-photo/multi-ethnic-businesswomen-talking-meet-600nw-2220172119.jpg">
                </div>
                <h4>Counseling</h4>
            </div>

            <div class = "row">
                <div class = "row-img">
                    <img src = "https://www.redcross.org.lb/wp-content/themes/savelives/assets-landing/img/how-delivered.jpg">
                </div>
                <h4>Healthcare</h4>
            </div>

            <div class = "row">
                <div class = "row-img">
                    <img src = "https://thumbs.dreamstime.com/b/elevated-view-infant-school-children-circle-classroom-giving-high-fives-to-their-smiling-female-teacher-vertical-close-136308463.jpg">
                </div>
                <h4>Tutoring</h4>
            </div>
        </div>
    </section>
    <!---Opportunities section design-->
    <section class="opportunities">
        <div class = "opportunities-img">
            <img src = "https://img.freepik.com/premium-photo/vertical-full-length-portrait-female-nurse-helping-senior-woman-retirement-home_236854-34458.jpg">
        </div>
        <div class = "opportunities-text">
            <h5>Retirement House</h5>
            <h2>Volunteering Opportunity</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ullamcorper a lacus vestibulum sed. Scelerisque eleifend donec pretium vulputate sapien. Eu lobortis elementum nibh tellus molestie.</p>
            <a href = "#" class = "btn">Read more</a>
        </div>
    </section>
    <!---Organizations section design-->
    <section class = "Organizations">
        <div class = "center-text">
            <h2>Popular Organizations</h2>
        </div>
        <div class = "Organizations-content">
            <div class = "box">
                <img src = "img/Kafa.png"> 
            </div>

            <div class = "box">
                <img src = "img/redcross.png">
            </div>

            <div class = "box">
                <img src = "img/bassma.png">
            </div>
        </div>
        <div class = "center-btn">
            <a href = "#" class = "btn">See Organizations</a>
        </div>
    </section>
    <!---Opp section design-->
    <section class = "opp" >
        <div class = "opp-text">
            <h5>Women Violence</h5>
            <h2>Volunteer to help abuse surviors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ullamcorper a lacus vestibulum sed. Scelerisque eleifend donec pretium vulputate sapien. Eu lobortis elementum nibh tellus molestie.</p>
            <a href = "#" class = "btn">Read more</a>
        </div>

        <div class = "opp-img">
            <img src = "https://img.freepik.com/premium-photo/physical-violence-woman_669030-1140.jpg">
        </div>
    </section>
    <!---Footer section design-->
    <section class = "footer">
        <div class = "footer-box">
            <h3>Find Us</h3>
            <p>American University of Beirut, Bliss St.<br>Beirut, Lebanon</p>
            <p>customerservice@handinhand.com</p>
            <div class="social">
               <a href = "https://www.instagram.com/accounts/login/"><i class="ri-instagram-line"></i></a>
               <a href = "https://www.facebook.com/login/"><i class="ri-facebook-line"></i></a>
               <a href = "https://www.tiktok.com/login"><i class="ri-tiktok-fill"></i></a>
               <a href = "https://twitter.com/login"><i class="ri-twitter-x-line"></i></a>
        </div>

        </div>
    </section>
    <!---custom js file link-->
    {{!-- <script src = "js/script.js"></script> --}}
    <script>
        const header = document.querySelector("header");

window.addEventListener("scroll", function(){
    header.classList.toggle("sticky", window.scrollY > 60)
});

let menu = document.querySelector('#menu-icon');
let navbar = document.querySelector('.navbar');

menu.onclick = () => {
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open');
};
    </script>
</body>
</html>