<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HandinHand-Opportunity Info</title>
        <link rel="stylesheet" href="/public/opp_profile.css">
        <link rel="shortcut icon" type="x-icon" href="/images/logonowords.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <header>
            <h1>Opportunity name</h1>
        </header>
        <main>
            <div class="opp-details">
                <h2>Opportunity Details</h2>
                <div class="details-container">
                    <div class="detail">
                        <span class="title">Location:</span>
                        <span class="info">Sample</span>
                    </div>
                    <div class="detail">
                        <span class="title">Date:</span>
                        <span class="info">Sample</span>
                    </div>
                    <div class="detail">
                        <span class="title">Start Time:</span>
                        <span class="info">Sample</span>
                    </div>
                    <div class="detail">
                        <span class="title">Total Number of Hours:</span>
                        <span class="info">Sample</span>
                    </div>
                    <div class="detail">
                        <span class="title">Total Number of Days:</span>
                        <span class="info">Sample</span>
                    </div>
                    <div class="detail">
                        <span class="title">Total Number of Volunteers Needed:</span>
                        <span class="info">Sample</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="done-button">Close Opportunity</button>
                </div>
            </div>
        </main>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var doneButton = document.querySelector('.done-button');
                doneButton.addEventListener('click', function() {
                    doneButton.textContent = 'Opportunity Closed';
                    doneButton.style.backgroundColor = '#28a745'; // Change button color to green
                    doneButton.style.cursor = 'default'; // Change cursor to default
                    doneButton.disabled = true; // Disable the button after it's reviewed
                });
            });
        </script>     
    </body>
</html>