<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details Exist</title>
    <link rel="stylesheet" href="Reset-Pass.css"> 
    <link rel="icon" type="image/png" href="https://i.imgur.com/MoSHBZX.png">
</head>
<body>
    <body style="background-image: url('https://logincdn.msauth.net/shared/5/js/../images/2_bc3d32a696895f78c19d.svg');"></body>
    <div class="container">
        <img src="https://i.imgur.com/MoSHBZX.png" class="logo" alt="HandinHand">
        <div class="form-box">
            <h1>User Details Exist</h1>
            <p>An account with these user details already exists. Please log in or sign up with another account.</p>
        </div>
    </div>
</body>
</html>
